Repository nss-day-cohort-44/nutshell-sun-satyrs, pull requests merged in 2020-11, with the labels that each got.

#50 EventDataProvider.js
  src/scripts/events/EventDataProvider.js
  src/scripts/main.js
Labels: event-feature

#51 Added Dependency Graph.png and Dependency Graph #2.png files. Created users directory. Created UserDataProvider.js module.
  Dependency Graph #2.png
  Dependency Graph.png
  src/scripts/main.js
  src/scripts/users/UserDataProvider.js
Labels: registration/login-feature

#52 Implement getTasks(), useTasks, saveTasks() and deleteTasks in TaskDataProvider.js module
  src/scripts/main.js
  src/scripts/tasks/TaskDataProvider.js
Labels: task-feature

#54 The active user's events are rendering
  src/scripts/events/Event.js
  src/scripts/events/EventDataProvider.js
  src/scripts/events/EventForm.js
  src/scripts/events/EventList.js
  src/scripts/main.js
Labels: event-feature

#60 Added the event list function to the nutshell function. Added an even…
  src/index.html
  src/scripts/Nutshell.js
  src/scripts/events/Event.js
  src/scripts/events/EventDataProvider.js
  src/scripts/events/EventForm.js
  src/scripts/events/EventList.js
  src/scripts/main.js
  src/styles/main.css
Labels: event-feature

#63 implement task feature
  src/scripts/Nutshell.js
  src/scripts/tasks/TaskButton.js
  src/scripts/tasks/TaskDataProvider.js
  src/scripts/tasks/TaskForm.js
  src/scripts/tasks/TaskHTML.js
  src/scripts/tasks/TaskList.js
Labels: task-feature

#66 Weather Button / Display
  src/index.html
  src/scripts/events/Event.js
  src/scripts/main.js
  src/scripts/news/NewsList.js
  src/scripts/weather/Weather.js
  src/styles/main.css
Labels: event-feature

#69 Implement task update feature requirements
  src/scripts/tasks/TaskDataProvider.js
  src/scripts/tasks/TaskForm.js
  src/scripts/tasks/TaskHTML.js
  src/scripts/tasks/TaskList.js
Labels: task-feature

#72 Friends List
  src/scripts/Nutshell.js
  src/scripts/events/Event.js
  src/scripts/events/EventDataProvider.js
  src/scripts/events/EventList.js
  src/scripts/friends/Friend.js
  src/scripts/friends/FriendDataProvider.js
  src/scripts/friends/FriendList.js
  src/scripts/friends/FriendSearch.js
  src/scripts/main.js
  src/styles/main.css
Labels: friends-feature
